@import "tailwindcss";

@theme {
  --color-digicre-skyblue: #00b0f0;
  --color-digicre-black: #202020;
  --color-digicre-white: #ffffff;
  --color-blue: #0c5ae9;
  --color-gray: #84929e;
  --color-sky: #00b0f0;
}

@layer base {
  html {
    line-height: 2;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-24-700 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .text-20-700 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .text-20-400 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .text-16-400 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .consider-scrollbar {
    scrollbar-gutter: stable;
  }
}
