@import "tailwindcss";

@theme {
  --color-digicre-skyblue: #00b0f0;
  --color-digicre-black: #202020;
  --color-digicre-white: #ffffff;
  --color-blue: #0c5ae9;
  --color-gray: #84929e;
  --color-sky: #00b0f0;
}

@layer base {
  html {
    line-height: 2;
    scroll-behavior: smooth;
    text-autospace: normal;
  }
}

@layer utilities {
  .text-24-700 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .text-20-700 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .text-20-400 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .text-16-400 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .consider-scrollbar {
    scrollbar-gutter: stable;
  }

  .markdown {
    :first-child {
      margin-block-start: 0;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 2rem;
    }

    p {
      margin-block-start: 1rlh;
    }

    a:any-link {
      color: var(--color-blue);
      text-decoration: underline;
    }

    ul,
    ol {
      margin-inline-start: 2rem;
      margin-block-start: 1rlh;
    }

    ul li {
      list-style: disc;
    }

    ol li {
      list-style: decimal;
    }

    figure {
      margin-block-start: 1rlh;

      &:has(table) {
        overflow-x: auto;
      }
    }

    table {
      margin-inline: auto;
      text-wrap: nowrap;
      font-variant-numeric: tabular-nums;

      thead {
        tr {
          background: #fff;
        }

        th {
          text-align: center;
          padding-inline: 1rem;
        }
      }

      tbody {
        tr {
          background: #e0e0e0;

          &:nth-child(2n) {
            background: #fff;
          }
        }

        td {
          padding-inline: 1rem;
        }
      }
    }
  }
}
